PUBLIC_HOTDOC_EMBED_URL=https://www.hotdoc.com.au/medical-centres
PUBLIC_GA_MEASUREMENT_ID=
SITE_DOMAIN=bondimedical.example.com
SITE_URL=https://bondimedical.example.com
LETSENCRYPT_EMAIL=ops@example.com
