---
import { siteConfig } from '../config/site';

interface Props {
  className?: string;
  label?: string;
  context?: string;
}

const {
  className = '',
  label = siteConfig.globalCta.label,
  context = 'generic'
} = Astro.props;
---

<a
  href={siteConfig.globalCta.href}
  class={`book-now-btn ${className}`}
  data-book-now
  data-context={context}
>
  {label}
</a>
